h1 {
  color: goldenrod;
}
#message-el {
  font-style: oblique;
}
body {
  text-align: center;
  background-image: url(table.jpg);
  background-size: cover;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  border: none;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}
button:active {
  opacity: 0.6;
  background-color: #016f32;
  color: goldenrod;
}
